<div id="nav-container">

    <div id="nav-container-left">
        <form action="/" method="post">
            <input type="text" placeholder="Search for a country..." name=filter>
        </form>
    </div>

    <div id="nav-container-right">
        <form action=/ method="post">
            <select name="region" onchange="this.form.submit()" required>
                <option value="" disabled selected hidden>Filter by Continent</option>
                <option value="Africa">Africa</option>
                <option value="Americas">America</option>
                <option value="Europe">Europe</option>
                <option value="Oceania">Oceanie</option>
                <option value="Asia">Asia</option>
            </select>
        </form>
    </div>

 </div>